</br>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-centered">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">各种瞎改</h3>
        </div>
        <div class="panel-body">
          <%= simple_form_for @job do |f| %>
          <%= f.input :title, :label => "字要多才能吸引人" %>
          <%= f.input :description , :label => "细节 细节 细节 重要的事说三遍" %>
          <%= f.input :wage_lower_bound, :label => "最少给我这些"%>
          <%= f.input :wage_upper_bound, :label => "最多给我这些 全看心情"%>
          <%= f.input :contact_email, :label => "email" %>
          <% if @product.image.present? %>
          <span>目前商品图</span> <br>
          <%= image_tag(@product.image.thumb.url) %>
          <% end %>
          <%= f.input :image, as: :file %>
          <%= f.input :is_hidden%>

          <%= f.submit "瞎改完了还想点保存" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
