</br>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-centered">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">各种瞎改</h3>
        </div>
        <div class="panel-body">
          <%= simple_form_for @job do |f| %>
          <%= f.input :title %>
          <%= f.input :description %>
          <%= f.input :wage_lower_bound, :label => "悬赏下限"%>
          <%= f.input :wage_upper_bound, :label => "悬赏上限"%>
          <%= f.input :contact_email %>
          <%= f.submit "瞎改完了还想点保存" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
