

</br>
<!-- 我是分割线 -->
<div class="container .fp-scrollable">
  <div class="row">
    <div class="col-md-10 col-centered">
<!--  发bug-->
      <div class="pull-right ">
        <%= link_to("丢bug", new_job_path, :class=>" diubug btn btn-default") %>
      </div>
<!-- 排序 -->
      <div class="dropdown clearfix pull-right">
        <button class="btn btn-default paixu dropdown-toggle " type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          排序
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
          <li>
            <%= link_to("按照悬赏下限排序", jobs_path(:order => "by_lower_bound")) %>
          </li>
          <li>
            <%= link_to("按照悬赏上限排序", jobs_path(:order => "by_upper_bound")) %>
          </li>
          <li>
            <%= link_to("按照发表时间排序", jobs_path ) %>
          </li>
        </ul>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            找bug列表
          </h2>
        </div>
        <div class="panel-body">
<!-- 表格内容 -->
          <table class="table table-boldered">
            <thead>
              <tr>
                <th width="220">bug Pic</th>
                <th>bug</th>
                <th>悬赏下限</th>
                <th>悬赏上限</th>
                <th>刊登时间</th>
                <th>点赞<th>
                <th>我想改</th>
                <th>已被领走<th>
              </tr>
            </thead>
            <tbody>
              <% @jobs.each do |job| %>
                <tr>
                  <td>
                    <%= link_to job_path(job) do %>
                       <% if job.photos.present? %>
                         <%= image_tag(job.photos[0].avatar.thumb.url, class: "thumbnail") %>
                        <% else %>
                          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                        <% end %>
                      <% end %>
                  </td>
                  <td><%= link_to(job.title, job_path(job)) %></td>
                  <td><%= job.wage_lower_bound %></td>
                  <td><%= job.wage_upper_bound %></td>
                  <td><%= job.created_at %></td>
                  <td>
                    <%= job.voters.count %>
                    <% if current_user && current_user.is_voter_of?(job) %>
                      <%= link_to("", downvote_job_path(job), method: :post, class: "fa fa-heart", style: "color:red;") %>
                    <% else %>
                      <%= link_to("", upvote_job_path(job), method: :post, class: "fa fa-heart-o") %>
                    <% end %>
                  </td>
                  <td><%= link_to("该改改", edit_job_path(job), class: "btn btn-sm btn-default")%></td>
                  <td><%= link_to("拜拜", job_path(job),    class: "btn btn-sm btn-default",
                                method: :delete, data: { confirm: "Are you sure?" } )%>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
