<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h1> 扔ibug </h1>
      <%= simple_form_for @job do |f| %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :wage_lower_bound, :label => "悬赏下限" %>
      <%= f.input :wage_upper_bound, :label => "悬赏上限" %>
      <%= f.input :contact_email, :label => "留下邮箱，方便告知bug已找到" %>
      <%= f.input :is_hidden, :label => "只有自己可见？" %>
      <%= f.submit "确认扔完了 还有没" %>
      <% end %>
    </div>
  </div>
</div>
