<div class="container">
  <div class="row">
    <div class="col-md-6 col-centered">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 draggable=""class="panel-title"><%= @job.title%></h1>
        </div>
        <div class="panel-body">
          <p><%= simple_format(@job.description) %></p>

          <!-- 投票 -->
          <span class="pull-left">
            <%= @job.voters.count %>
            <% if current_user && current_user.is_voter_of?(@job) %>
              <%= link_to("", downvote_job_path(@job), method: :post, class: "fa fa-heart fa-2x", style: "color:red;") %>
             <% else %>
              <%= link_to("", upvote_job_path(@job), method: :post, class: "fa fa-heart-o fa-2x") %>
            <% end %>
          </span>


          <!-- 多图 -->
          <div class=" col-centered">
          <% if @photos.present? %>
            <% @photos.each_with_index do |p, index| %>
              <% if index == 0 %>
                <%= image_tag p.avatar.medium.url %>
                <div style="letter-spacing: -8px">
              <% else %>
                <%= image_tag p.avatar.thumb.url %>
              <% end %>
            <% end %>
              </div>
          <% else %>
              <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
          <% end %>
        </div>



        <!-- resume简历 -->
      </br>
          <div class="text-center">
            <%= link_to("交出bug细节，以便领走", new_job_resume_path(@job), :style => "font-size: 30px; text-decoration:underline;") %>
          </div>
        </div>
      </div>

      <h3 class="comments_title">
        <%= @job.comments.count %> Comments
      </h3>
      <hr>
      <div id="comments">

        <%= render @job.comments%>
        </br>
        <%= simple_form_for([@job, @job.comments.build]) do |f|%>
          <div class="field">
            <%= f.text_area :body, class: "form-control" %>
          </div>
          <%= f.submit "submit", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
