<div class="col-md-12 col-centered">
  <div class="row box">
    <div class="box-inner col-md-6 col-md-offset-3">
      <h1 class="title">找bug</h1>
      <h3 class="slogan">bug出现了，在哪里？去找bug！

      </h3>
      <p class="leadleft">
        <%= link_to '发bug', new_job_path, class: 'btn btn-danger' %>
      </p>
      <p class="leadright">
        <%= link_to '找bug', jobs_path, class: 'btn btn-success' %>
      </p>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">一个bug就是一个坑</h2>
        <p class="lead">坑，留着我踩；你，踩着我，</br>把bug留在这里，继续前行。</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag "http://ww1.sinaimg.cn/large/006tNbRwgy1fex47x86raj30el07wwgs.jpg",
        class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">bug 一个无情的家伙</h2>
        <p class="lead">当你找不到ta的时候，ta天天粘着你，</br>当你找到ta的时候，ta却马上消失。</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag "http://ww3.sinaimg.cn/large/006tNbRwgy1fex47w6yh4j30el07wdh1.jpg",
        class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">bug的宣言：</h2>
        <p class="lead">“你走吧，我和 找bug 在一起了，如果不想再见到我，请给<a target="_blank" href="https://fullstack.xinshengdaxue.com/works/296">找bug</a>投票。谢谢！"</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag "http://ww4.sinaimg.cn/large/006tNbRwgy1fex4d1sizqj30jg0ajaau.jpg",
        class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="dibusongmac">
  <h4 class="dibusongmactext">找bug成功后</h3>
  <h4 class="dibusongmactext">赠送 Mac 庆祝你开始非凡新旅程</h3>
  <img src="http://ww2.sinaimg.cn/large/006tNbRwgy1fex941gc8aj30wu0us78x.jpg"
  class="dibusongmacimage">
</div>
</div>
</div>
