<div class="col-md-12">
  <div class="row box">
    <div class="box-inner col-md-6 col-md-offset-3">
      <h1 class="title">ibug</h1>
      <p class="slogan">bug出现了，不知道在哪里，才需要去找。
        <br>
        要是知道bug在哪里，就可以直接去改了！
        <br>
        有了ibug，再遇bug直接来改，再也无需苦苦寻找。
      </p>
      <p class="leadleft">
        <%= link_to 'ibug', jobs_path, class: 'btn btn-danger' %>
      </p>
      <p class="leadright">
        <%= link_to 'debug', jobs_path, class: 'btn btn-success' %>
      </p>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">一个bug就是一个坑</h2>
        <p class="lead">坑，留着我踩；你，踩着我，把bug留在这里，继续前行。</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag "http://ww1.sinaimg.cn/large/006tNbRwgy1fex47x86raj30el07wwgs.jpg",
        class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">bug一定是一个无情的家伙</h2>
        <p class="lead">当你不爱ta的时候，ta天天粘着你，当你 i 上ta的时候，ta马上就消失得无影无踪。</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag "http://ww3.sinaimg.cn/large/006tNbRwgy1fex47w6yh4j30el07wdh1.jpg",
        class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">从这一刻开始bug的宣言：</h2>
        <p class="lead">“你走吧，我和ibug在一起了，如果不想再见到我，请给<a target="_blank" href="https://fullstack.xinshengdaxue.com/works/296">ibug</a>投票。谢谢！"</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag "http://ww4.sinaimg.cn/large/006tNbRwgy1fex4d1sizqj30jg0ajaau.jpg",
        class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="dibusongmac">
  <h4 class="dibusongmactext">ibug成功后</h3>
  <h4 class="dibusongmactext">赠送 Mac 庆祝你开始非凡新旅程</h3>
  <img src="http://ww2.sinaimg.cn/large/006tNbRwgy1fex941gc8aj30wu0us78x.jpg"
  class="dibusongmacimage">
</div>
</div>
</div>
