<h1> 修改ibug </h1>
<%= simple_form_for [:admin, @job ] do |f| %>

<%= f.input :title %>
<%= f.input :description %>
<%= f.input :wage_lower_bound, :laber => "悬赏下限" %>
<%= f.input :wage_upper_bound, :laber => "悬赏上限" %>
<%= f.input :contact_email %>
<%= f.input :is_hidden%>

  <%= f.submit "大神也有打脸的时候啊" %>
  <% end %>
