<h1> add a job </h1>
<%= simple_form_for [:admin,@job] do |f| %>

<%= f.input :title %>
<%= f.input :description %>
<%= f.input :wage_lower_bound, :label => "薪资下限" %>
<%= f.input :wang_upper_bound, :label => "薪资上限" %>
<%= f.inpit :contant_email %>

<%= f.submit "Submit" %>
<%end%>
