<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">S找bug::NoError</a>
    </div>

<!-- 右侧登录注册等 -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if !current_user %>
            <li><%= link_to("注册", new_user_registration_path) %> </li>
            <li><%= link_to("登录", new_user_session_path) %> </li>
          <% else%>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">

               Hi!, <%= current_user.name %>

                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <% if current_user.admin? %>

                <li> <%= link_to("大神不是那么好当的 还是小白好", admin_jobs_path) %></li>
                <li> <%= link_to("小白也有出头天 瞬间变大神", jobs_path) %></li>
                <li><%= link_to(content_tag(:i, "我的收藏", class: "fa fa-heart fa-md"), jobs_path(:favorite => "yes"))%> </li>            
                <% end %>
                <li> <%= link_to("登出", destroy_user_session_path, method: :delete) %> </li>
              </ul>
            </li>
            <%end%>

        </li>
      </ul>
    </div>
  </div>
</nav>
