<nav class="navbar navbar-default" rolej="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">找bug</a>
    </div>
<!-- 搜索 -->
    <div class="nav navbar-nav navbar-left">
      <%= form_tag search_jobs_path , :method => :get do %>
        <div class="input-group" id="search-id" >
          <input type="text" class="form-control" name="q" value="<%= params[:q] %>" placeholder="输入bug找bug">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
          <i class="glyphicon glyphicon-search"></i>
          </button>
          </div>
        </div>
      <% end %>
    </div>
<!-- 右侧登录注册等 -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if !current_user %>
            <li><%= link_to("注册", new_user_registration_path) %> </li>
            <li><%= link_to("登录", new_user_session_path) %> </li>
          <% else%>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">

               Hi!, <%= current_user.name %>

                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <% if current_user.admin? %>

                <li> <%= link_to("大神不是那么好当的 还是小白好", admin_jobs_path) %></li>
                <li> <%= link_to("小白也有出头天 瞬间变大神", jobs_path) %></li>

                <% end %>
                <li> <%= link_to("登出", destroy_user_session_path, method: :delete) %> </li>
              </ul>
            </li>
            <%end%>

        </li>
      </ul>
    </div>
  </div>
</nav>
