<!DOCTYPE html>
<html>
  <head>
    <title>找bug</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <%= render "common/navbar" %>
        <%= render "common/flashes"%>
        <div style="margin-top:50px;">
        <!-- <div style="margin-top:20px;"> -->
          <%= yield %>
        </div>
      </div>
    </div>
    <div style="margin-top:50px;"> </div>
    <%= render "common/footer" %>
  </body>
</html>
